{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nongarhub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Nongarhub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/contact">Contact</a>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- blogging start -->
    <h1 class="text-success text-center m-4">Django Blogging</h1>
    <p>Django is based on MVT (Model-View-Template) architecture. MVT is a software design pattern for developing a web application. 

      MVT Structure has the following three parts – </p>
    <img src="../static/Images/third.jpg" class="d-block mx-auto mb-4 rounded " style="border: 4px solid rgb(0, 255, 179);" height="400" width="400" >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>
            About Model
          </h3>
          <p>
            Model: The model is going to act as the interface of your data. It is responsible for maintaining data. It is the logical data structure behind the entire application and is represented by a database (generally relational databases such as MySql, Postgres).
          </p>
        </div>

        <div class="col-md-4">
          <h3>
            About View
          </h3>
          <p>
            View: The View is the user interface — what you see in your browser when you render a website. It is represented by HTML/CSS/Javascript and Jinja files.
          </p>
        </div>

        <div class="col-md-4">
          <h3>
            About Template
          </h3>
          <p>
            A template consists of static parts of the desired HTML output as well as some special syntax describing how dynamic content will be inserted.
          </p>
        </div>
      </div>
      <img src="../static/Images/mvt.png" class="d-block mx-auto mb-4 rounded " style="border: 4px solid rgb(0, 255, 179);" height="400" width="400" >
    </div>
    
    <!-- blogging end -->

    <!-- start footer -->
    <footer class="bg-success text-white text-center position-relative">
      <h4 class="py-3">© Copyright 2020-2025 www.Nongarhub.com. All rights reserved..</h4>
    </footer>
    <!-- End footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>