<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nongarhub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Nongarhub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/contact">Contact</a>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <!-- Navbar Ends -->
    <h2 class="text-center mt-2">About Nongarhub...</h2>
    <pre class="fs-5 text-center">
      Django is a high-level Python web framework that encourages rapid 
      development and clean, pragmatic design. Built by experienced developers, 
      it takes care of much of the hassle of web development, so you can focus on 
      writing your app without needing to reinvent the wheel. Django is an extremely 
      popular and fully featured server-side web framework, written in Python. Django 
      allows you to quickly create web apps
    </pre>
    <div class="container">
      <h3 class="text-success text-center">Here are a bunch of programmers who can get help in need of your problems</h3>
      <div class="row">
        <!-- sabbir -->
        <div class="col-md-4 mt-2 mb-2" >
          <div class="card" style="width: 18rem;">
            <img src="../static/Images/sabbir.jpg" class="card-img-top" height="350" alt="...">
            <div class="card-body">
              <h5 class="card-title">Shafiul Sabbir</h5>
              <p class="card-text">Project manager at Brainstorm Tech Ltd</p>
              <a href="https://www.facebook.com/sabbir.vai13" class="btn btn-primary">Go to Profile</a>
            </div>
          </div>
        </div>
        <!-- mahi -->
        <div class="col-md-4 mt-2 mb-2">
          <div class="card" style="width: 18rem;">
            <img src="../static/Images/mahi.jpg" class="card-img-top" height="350" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mehrab Mahi</h5>
              <p class="card-text">Software Engineer at Streams Tech Ltd</p>
              <a href="https://www.facebook.com/mehrabhosen.mahi" class="btn btn-primary">Go to Profile</a>
            </div>
          </div>
        </div>
        <!-- niaz-->
        <div class="col-md-4 mt-2 mb-2">
          <div class="card" style="width: 18rem;">
            <img src="../static/Images/niaz.jpg" class="card-img-top" height="350" alt="...">
            <div class="card-body">
              <h5 class="card-title">Niaz Mahmud</h5>
              <p class="card-text">Sr. Software Engineer at Samsung R&D Institute Bangladesh Ltd.</p>
              <a href="https://www.facebook.com/niaz.mahmud.921" class="btn btn-primary">Go to Profile</a>
            </div>
          </div>
        </div>
        <!-- saikat -->
        <div class="col-md-4 mt-2 mb-2">
          <div class="card" style="width: 18rem;">
            <img src="../static/Images/saikat.jpg" class="card-img-top" height="350" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mehedi Saikat</h5>
              <p class="card-text">Software Developer (Frontend) at Bluebay It Limited</p>
              <a href="https://www.facebook.com/Mr.MehediHasanSaikat" class="btn btn-primary">Go to Profile</a>
            </div>
          </div>
        </div>
        <!-- shuvo -->
        <div class="col-md-4 mt-2 mb-2">
          <div class="card" style="width: 18rem;">
            <img src="../static/Images/shuvo.jpg" class="card-img-top" height="350" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sakhawat Shuvo</h5>
              <p class="card-text">React Developper at BrainStorm Tech</p>
              <a href="https://www.facebook.com/profile.php?id=100068250944160" class="btn btn-primary">Go to Profile</a>
            </div>
          </div>
        </div>
        <!-- yeasin -->
        <div class="col-md-4 mt-2 mb-2">
          <div class="card" style="width: 18rem;">
            <img src="../static/Images/yeasin.jpg" class="card-img-top" height="350" alt="...">
            <div class="card-body">
              <h5 class="card-title">Yeasin Rahman</h5>
              <p class="card-text">Software Developper at ParonSoft Solutions Limited</p>
              <a href="https://www.facebook.com/yeasin.rahaman.5" class="btn btn-primary">Go to Profile</a>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
    <!-- start footer -->
    <footer class="bg-success text-white text-center position-relative">
      <h4 class="py-3">© Copyright 2020-2025 www.Nongarhub.com. All rights reserved..</h4>
    </footer>
    <!-- End footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>